body {
    background-color: black;
    border: 1px solid white;
    height: 1000px;
    width: 1200px;
}

#ship {
    position: absolute;
}

#stone {
    position: absolute;
}

img {
    cursor: pointer;
}