body {
    background-color: black;
    margin: 0px;
    user-select: none;
}

#ship {
    position: absolute;
}

#stone {
    position: absolute;
}

img {
    cursor: pointer;
    user-select: none;
}